

/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

body{
    @apply bg-primary;
}
.app-view{
    
}
.card{
    height: 16rem;
}
.card-title {
    text-align: center;
    background-image: linear-gradient(40deg, #88754b, #ddca88, #88754b );
}

.action-main{
    @apply font-bold text-lg text-center px-2 py-2;
    background-image: linear-gradient(0deg, #ddca88, #88754b );
    border-radius: 1rem;
}
 
.action-main.lg{
    @apply px-2 py-2 text-3xl;
}
