
/* purgecss start ignore */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components'; */
/* purgecss end ignore */
/* @import 'tailwindcss/utilities'; */

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.mdi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@tailwind base;

body{
    @apply bg-primary;
}
.app-view{
    
}
.action-main{
    @apply font-bold text-lg text-center px-2 py-2 bg-app-1;
    background-image: linear-gradient(0deg, #ddca88, #88754b );
    border-radius: 1rem;
    transition: all .3s ease-out;
}
.action-main:hover{
    background: none;
    @apply shadow-lg bg-app;
}
.action-main.lg{
    @apply px-2 py-2 text-3xl;
}

@tailwind components;

@tailwind utilities;
